* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('assets/car-bg.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #074964;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: #074964;
}

.car-booking-form .form-group {
  margin-bottom: 15px;
}

.car-booking-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.car-booking-form input,
.car-booking-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.car-booking-form input:focus,
.car-booking-form select:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #074964;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .submit-button {
    font-size: 16px;
  }
}